// Fuentes
$fuentePrincipal: "Lato", sans-serif;
$fuenteCursiva: "Italianno", sans-serif;

// Colores
$primario: #8ed3cc;
$secundario: #e082a8;
$negro: #000;
$blanco: #ffffff;
$gris: #979797;
$grisClaro: #f8f8f8;
